$main-color: #001845;
$base-red-color: #1b263b;
$base-dark-red-color: #0d1b2a;
$base-white-color: #778da9;
$base-blue-color: #415a77;

$btn-hover-yellow: #eeef20;
$btn-hover-greeen: #80b918;
$btn-hover-blue: #0fa3b1;
$btn-hover-dark-blue: #013a63;
$btn-hover-dark-purple: #820263;
$btn-hover-pink: #f2b5d4;
$btn-hover-dark-pink: #ee2677;

$info-green: #dff0d8;
$info-light-greeen: #3c763d;
$info-rise-green: #d6e9c6;

$error-red: #a94442;
$error-light-red: #f2dede;
$error-rise-red: #ebccd1;

$info-blue: #31708f;
$info-light-blue: #d9edf7;
$info-rise-blue: #bce8f1;

$warning-yellow: #8a6d3b;
$warning-light-yellow: #fcf8e3;
$warning-rise-yellow: #faebcc;
