$main-color: #003049;
$base-red-color: #c1121f;
$base-dark-red-color: #780000;
$base-white-color: #fdf0d5;
$base-blue-color: #669bbc;

$btn-hover-yellow: #eeef20;
$btn-hover-greeen: #80b918;
$btn-hover-blue: #0fa3b1;
$btn-hover-dark-blue: #013a63;
$btn-hover-dark-purple: #820263;
$btn-hover-pink: #f2b5d4;
$btn-hover-dark-pink: #ee2677;
