$main-color: #48d6d2;
$base-red-color: #122c91;
$base-dark-red-color: #2a6fdb;
$base-white-color: #fefcbf62;
$base-blue-color: #488785;

$btn-hover-yellow: #eeef20;
$btn-hover-greeen: #80b918;
$btn-hover-blue: #0fa3b1;
$btn-hover-dark-blue: #013a63;
$btn-hover-dark-purple: #820263;
$btn-hover-pink: #f2b5d4;
$btn-hover-dark-pink: #ee2677;

$info-green: #036300;
$info-light-greeen: #073b00;
$info-rise-green: #0f8300;

$error-red: #a94442;
$error-light-red: #f2dede;
$error-rise-red: #ebccd1;

$info-blue: #31708f;
$info-light-blue: #d9edf7;
$info-rise-blue: #bce8f1;

$warning-yellow: #ad3700;
$warning-light-yellow: #852a00;
$warning-rise-yellow: #faebcc;
