@import "../../styles/colors";
.popup-inner-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  opacity: 0.85;
  color: var(--default-white, white);
  width: max-content;
  display: flex;
  justify-content: end;
  padding: 20px;
  animation: slideIn 0.5s ease-out;
  &.closing {
    animation: slideOut 0.5s ease-in;
  }
  .success {
    background-color: var(--default-green, $info-green);
    opacity: 0.85;
    padding: 1rem;
    color: var(--default-green, $info-light-greeen);
    border: 1px solid var(--default-green, $info-rise-green);
    border-radius: 4px;
    box-shadow: rgba($info-rise-green, 0.1) 0px 6px 24px 0px,
      rgba($info-rise-green, 0.08) 0px 0px 0px 1px;
  }
  .error {
    background-color: var(--default-red, $error-red);
    opacity: 0.85;
    padding: 1rem;
    border: 1px solid var(--default-red, $error-light-red);
    border-radius: 4px;
    box-shadow: rgba($error-rise-red, 0.1) 0px 6px 24px 0px,
      rgba($error-rise-red, 0.08) 0px 0px 0px 1px;
  }
  .info {
    background-color: var(--default-blue, $info-blue);
    opacity: 0.85;
    padding: 1rem;
    border: 1px solid var(--default-blue, $info-light-blue);
    border-radius: 4px;
    box-shadow: rgba($info-rise-blue, 0.1) 0px 6px 24px 0px,
      rgba($info-rise-blue, 0.08) 0px 0px 0px 1px;
  }
  .warning {
    background-color: var(--default-yellow, $warning-yellow);
    opacity: 0.85;
    padding: 1rem;
    border: 1px solid var(--default-yellow, $warning-light-yellow);
    border-radius: 4px;
    box-shadow: rgba($warning-rise-yellow, 0.1) 0px 6px 24px 0px,
      rgba($warning-rise-yellow, 0.08) 0px 0px 0px 1px;
  }
}
.popup-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  button {
    color: var(--default-white, red);
    background-color: rgba(255, 255, 255, 0.684);
    border: 1px solid white;
    border-radius: 2px;
    cursor: pointer;
    opacity: 0.85;
  }
}
.popup-title {
  margin-right: 8rem;
}
.icon {
  margin-right: 0.5rem;
  font-size: larger;
}
@keyframes slideIn {
  from {
    transform: translateY(-20px); /* Yukarıdan başlama */
    opacity: 0; /* Başlangıçta görünmez */
  }
  to {
    transform: translateY(0); /* Son konumda kalma */
    opacity: 0.85; /* Nihai opasite */
  }
}
